@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

:root {
    --ckblue: #dff8fc;
    --ckblack: #262626;
    --offwhite: #f7f7f7;
}

.container-900 {
    max-width: 900px !important;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Michroma", sans-serif !important;
    margin-bottom: .5em !important;
}

main {
    background-color: var(--ckblue);
}

nav li a {
    font-family: "Michroma", sans-serif !important;
    text-transform: lowercase;
}

#projects .card:hover {
    background-color: var(--offwhite);
}
